<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rakesh's Blog</title>
  </head>
  <link rel="stylesheet" href="/style/app.css">
  <body>
    <header>
      <a href="/">Rakesh Arun</a>
      <div style="float:right;">
        <span>
          <a href="/pages/About">About</a>
        </span>
        <span>
          <a href="/pages/Uses">Uses</a>
        </span>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>